[Desktop Entry]
Name=Cursor
Comment=The AI Code Editor
GenericName=Text Editor
Exec=cursor --no-sandbox --unity-launch %F
Icon=cursor
Type=Application
StartupNotify=true
StartupWMClass=Cursor
Categories=Utility;Development;IDE;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;text/javascript;application/json;text/x-markdown;text/x-go;text/x-rust;text/x-ruby;text/x-sh;text/x-tex;text/x-yaml;application/x-cursor-workspace;
Actions=new-empty-window;
Keywords=cursor;code;editor;development;programming;ide;ai;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=cursor --no-sandbox --new-window %F
Icon=cursor
