[Desktop Entry]
Name=Warp Terminal
Comment=The AI-native terminal emulator
GenericName=Terminal
Exec=warp-terminal %F
Icon=warp-terminal
Type=Application
StartupNotify=true
StartupWMClass=warp-terminal
Categories=System;TerminalEmulator;Utility;
MimeType=
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=warp-terminal
Icon=warp-terminal
